{% extends "base/base.html" %}
{% block content %}

    <!-- Server added -->
    {% if  add_server_statement.0 %}
        <div class="alert alert-success" role="alert">
            {{ add_server_statement.1 }}
        </div>
    {% endif %}

    <!-- Server not added -->
    {% if  add_server_statement.0 == False %}
        <div class="alert alert-warning" role="alert">
            {{ add_server_statement.1 }}
        </div>
    {% endif %}

    <form action="{% url 'FindMeServ:addServer' %}" method="post" class="m-5">
        {% csrf_token %}
        <!-- IP -->
        <div class="form-group mb-2">
            <label for="ip">Server's Ip</label>
            <input name="ip" type="text" class="form-control" id="ip"
                   placeholder="127.0.0.1">
        </div>
        <!-- PORT -->
        <div class="form-group mb-2">
            <label for="port">Server's port</label>
            <input name="port" type="text" class="form-control" id="port"
                   placeholder="17015">
        </div>
        <!-- HOST -->
        <div class="form-group mb-2">
            <label for="host">Server's host</label>
            <input name="host" type="text" class="form-control" id="host">
        </div>
        <!-- GAMEMODE -->
        <div class="form-group mb-2">
            <label for="gamemode">Gamemode</label>
            <select name="gamemode" id="gamemode" class="custom-select form-control mb-4">
                {% for key, value in types %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            Add Server
        </button>
    </form>
{% endblock %}