{% load static %}
<script>
    let maps = []
    {% for map in maps %}
        maps.push('{{ map }}')
    {% endfor %}
</script>
<script type="text/javascript" src="{% static 'FindMeServ/js/maps.js' %}"></script>
<form action="{% url 'FindMeServ:serverList' %}" method="post">
    {% csrf_token %}


    <div class="container-fluid">
        <div class="row mb-2">
            <!-- GAMEMODE -->
            <div class="col">
                <div class="form-floating">
                    <select name="gamemode" class="form-select" id="gamemodeSelect" aria-label="Floating label select">
                        <option value="None">All game modes</option>
                        {% for key, value in types %}
                            <option {% if gamemode == key %}selected{% endif %} value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="gamemodeSelect">Select a Game Mode</label>
                </div>
            </div>
            <!-- HOST -->
            <div class="col">
                <div class="form-floating">
                    <input name="host" type="text" class="form-control" id="host" placeholder="Warmup"
                           {% if host != '' %}value="{{ host }}"{% endif %}>
                    <label for="host">Filter hosts :</label>
                </div>
            </div>
        </div>
    </div>


    <!-- MAPS -->
    <div class="container-fluid user-select-none">
        <div class="row justify-content-between">
            <div style="max-width: fit-content" class="mb-2"><span class="align-middle">Pick your maps :</span></div>
            {% for map in maps %}
                <div style="max-width: fit-content" class="mb-2">
                    <input name="{{ map }}" type="checkbox" class="btn-check" id="map_{{ map }}"
                           autocomplete="off"
                           onclick="checkMap('{{ map }}')"
                           {% if map == "all" and not maps_checked %}checked{% endif %}
                           {% if map in maps_checked %}checked {% endif %}>
                    <label class="btn btn-outline-primary" for="map_{{ map }}">{{ map }}</label><br>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid user-select-none mb-2">
        <div class="row justify-content-between">

            <!-- SUBMIT -->
            <div class="col-2">
                <button type="submit" class="btn btn-success w-100">
                    Filter
                </button>
            </div>

            <!-- OWNED SERVER -->
            {% if user.is_authenticated %}
                <div class="col-2">
                    <input name="owned" type="checkbox" class="btn-check" id="owned"
                           {% if owned == "on" %}checked{% endif %} autocomplete="off">
                    <label class="btn btn-outline-secondary w-100" for="owned">View Only Owned Servers</label><br>
                </div>
            {% endif %}

            <!-- EMPTY SERVER -->
            <div class="col-2">
                <input name="empty" type="checkbox" class="btn-check" id="empty"
                       {% if empty == "on" %}checked{% endif %} autocomplete="off">
                <label class="btn btn-outline-secondary w-100" for="empty">View Empty Servers</label><br>
            </div>
        </div>
    </div>

</form>