<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'FindMeServ/favicon/favicon.png' %}"/>

    <title>{% block title %}FindMeServ{% endblock %}</title>

    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# FontAwsome #}
    <script src="https://kit.fontawesome.com/4b4d568cd7.js" crossorigin="anonymous"></script>
    <!-- Bootstrap icons -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    {% block css %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FindMeServ/css/navbar.css' %}"/>

    {% block js %}{% endblock %}

</head>
<body style="margin-bottom: 100px; margin-top: 70px;">

{% csrf_token %}
{% block navbar %}
    <div>
        <nav class="navbar fixed-top navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="color:grey;">Find Me Serv</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/add-server-form">Add new servers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/server-list">server List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="text-white fixed-bottom container-fluid" style="background-color: #cccccc">
        <!-- Grid container -->
        <div class="row">
            <div class="center-block text-center">
                <!-- Section: Social media -->
                <!-- Github -->
                <a
                        class="btn btn-primary btn-floating m-2"
                        style="background-color: #333333;"
                        href="https://github.com/WizzAyAy/FindMeServ/tree/main"
                        role="button"
                ><i class="fab fa-github"></i
                ></a>
                <!-- Discord -->
                <a
                        class="btn btn-primary btn-floating m-2"
                        style="background-color: #333333;"
                        href="https://discord.gg/8K5d5JzSw2"
                        role="button"
                ><i class="fab fa-discord"></i
                ></a>
            </div>
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="row bg-light">
            <div class="center-block text-center text-secondary">
                ©
                <script>document.write(/\d{4}/.exec(Date())[0])</script>
                1D5A's Team Copyright
            </div>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}

</body>
</html>