{% load static %}
<script>
    let maps = []
    {% for map in maps %}
        maps.push('{{ map }}')
    {% endfor %}
</script>
<script type="text/javascript" src="{% static 'FindMeServ/js/maps.js' %}"></script>
<form action="{% url 'FindMeServ:serverList' %}" method="post">
    {% csrf_token %}

    <!-- GAMEMODE -->
    <div class="row form-group mb-2 me-5">
        <label class="col-sm-2 col-form-label" for="gamemode">Gamemode</label>
        <select name="gamemode" id="gamemode" class="col custom-select form-control">
            <option value="None">Pick a GameMode</option>
            {% for key, value in types %}
                <option {% if gamemode == key %}selected{% endif %} value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- HOST -->
    <div class="row form-group mb-2 me-5">
        <label class="col-sm-2 col-form-label" for="host">Host</label>
        <input name="host" id="host" class="col form-control" value="{{ host }}">
    </div>


    <!-- MAPS -->
    <div class="container-fluid user-select-none">
        <div class="row justify-content-between">
            {% for map in maps %}
                <div style="max-width: fit-content" class="mb-2">
                    <input name="{{ map }}" type="checkbox" class="btn-check" id="map_{{ map }}"
                           autocomplete="off"
                           onclick="checkMap('{{ map }}')"
                           {% if map == "all" and not maps_checked %}checked{% endif %}
                           {% if map in maps_checked %}checked {% endif %}>
                    <label class="btn btn-outline-primary" for="map_{{ map }}">{{ map }}</label><br>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid user-select-none mb-2">
        <div class="row justify-content-between">

            <!-- SUBMIT -->
            <div class="col-2">
                <button type="submit" class="btn btn-success w-100">
                    Filter
                </button>
            </div>

            <!-- EMPTY SERVER -->
            <div class="col-2">
                <input name="empty" type="checkbox" class="btn-check" id="empty"
                       {% if empty == "on" %}checked{% endif %} autocomplete="off">
                <label class="btn btn-outline-secondary w-100" for="empty">View Empty Servers</label><br>
            </div>
        </div>
    </div>

</form>