{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'FindMeServ/css/card.css' %}"/>
{% endblock %}

{% block js %}
    <script>
        let static_url = "{% get_static_prefix %}";
        let servers = {{ servers|safe }}
    </script>

    <script type="text/javascript" src="{% static 'FindMeServ/js/card.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="d-flex flex-wrap" id="container-server"></div>

{% endblock %}