{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'FindMeServ/css/card.css' %}"/>
{% endblock %}

{% block js %}
    <script>
        let static_url = "{% get_static_prefix %}";
        let servers =
        {{ servers|safe }}
    </script>

    <script type="text/javascript" src="{% static 'FindMeServ/js/card.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">{% include "filterBar.html" %}</div>
        <div class="row" id="container-server"></div>
    </div>

    {% csrf_token %}
    <input id="ajax-call" type="submit" value="go">
    <p id="ajax"></p>

{% endblock %}